:root {
    --primary-bg-color: #fff;
    --primary-text-color: #000;
    --primary-header-bg: #f0f2f5;
  }
  
  body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
  
  .ant-layout-header {
    background: var(--primary-header-bg);
  }
  
  .ant-layout-sider {
    background: var(--primary-bg-color);
  }
  